*{
	margin: 0;
	padding: 0;
}
html,body,.containter{
	width: 100%;
}
.mag-auto{
	margin: 0 auto;
}
.containter{
	display: flex;
	flex-direction: column;
}
/*S input样式*/
.input-radius {
    width: 80%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 4px;
    background-color: rgb(243,243,243);
    height: 1rem;
    margin-bottom: 0.3rem;
    font: 14px/1 "微软雅黑";
    color: #000;
    margin: 2px auto;
}
/*E input样式*/
/*S 发送验证码*/
.copy-input{
	width: 85%;
	padding-left: 5%;
	border-radius: 4px;
	background-color: rgb(243,243,243);
	height: 1rem;
	margin-bottom: 0.2rem;
	font: 14px/1 "微软雅黑"; 
	display: flex;
	align-content: center;
}
.inner-input{
	background-color: rgb(243,243,243);
	height: 90%;
	width: 60%;
	font: 14px/1 "微软雅黑";
	margin-bottom: 2%; 
}
.copy-string{
	display: inline-block;
	width: 1px;
	height: 50%;
	background-color: #ccc;
	vertical-align: middle;
	margin-top: 0.25rem;
}
.send-confirm-code{
	border-style: none;
	background-color: rgb(243,243,243);
	color:#999;
	font: 15px/1 "微软雅黑";
	margin-left: 10px;
	height: 100%;
	display: flex;
	align-items: center;
}
.inner-confirm-pic{
	float: right;
	width:40%;
}
.copy-inner-pic-input{
	justify-content: space-between;
}
/*E 发送验证码*/
/*S 控制ul*/
.ctr-ul{
	width: 90%;
	height: 0.9rem;
	font: 17px/1 "微软雅黑";
	display: flex;
}
.ctr-ul > li{
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
}
.ctr-ul > li:nth-child(1){
	color: rgb(129,130,132);
	border-bottom: 3.2px solid #ccc;
}
.ctr-ul > li:nth-child(2){
	color: rgb(63,81,181);
	border-bottom: 3.2px solid rgb(63,81,181);
}
/*E 控制ul*/
/*S top*/
.top{
	position: fixed;
	top: 0;
	left: 0;
	width: 90%;
	height: 1rem;
	background-color: rgb(63,81,181);
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
	padding: 0 5%;
}
.top > li{
	width: 33.33%;
}
.top > li:nth-child(2){
	text-align: center;
}
.top > li:nth-child(3){
	text-align: right;
}
/*E top*/
/*S 验证码*/
.copy-inner-pic-input{
	justify-content: space-between;
}
.copy-input{
	width: 85%;
	padding-left: 5%;
	border-radius: 4px;
	background-color: rgb(243,243,243);
	height: 1rem;
	margin-bottom: 0.2rem;
	font: 14px/1 "微软雅黑"; 
	display: flex;
	align-content: center;
}
.inner-input{
	background-color: rgb(243,243,243);
	height: 90%;
	width: 60%;
	font: 14px/1 "微软雅黑";
	margin-bottom: 2%; 
}
.inner-confirm-pic{
	float: right;
	width:40%;
}
/*E 验证码*/
/*S 同意协议*/
.agree-protocol-div{
	width: 80%;
	display: flex;
	justify-content: center;
	margin: 30px auto;
	position: relative;
	padding-left: 10px;
}
.agree-protocol-pic{
	vertical-align: middle;
	height: 13px;
	width: 13px;
	margin-right: 12px;
	/*margin-left: 10px;*/
	/*position: absolute;*/
	left: 0px;
	z-index: 1024;
	/*opacity: 0;*/
}
.agree-protocol-a{
	display: inline-block;
	color: rgb(63,81,181);
	font: 14px/1 "微软雅黑";
}
.checkbox{
	background-color: rgba(255,255,255,0);
	position: absolute;
	left: 0;
	float: left;
	opacity: 0;
}
/*E 同意协议*/
/*S 提交按钮*/
.submit-button {
    width: 80%;
    height: 40px;
    color: #fff;
    border-radius: 4px;
    margin: 0 auto;
    background-color: rgb(63,81,181);
    border-style: none;
    font: 20px/1 "微软雅黑";
}
/*E 提交按钮*/
/*S select自定义箭头*/
.select {
    border: none;
    width: 90%;
    border-radius: 4px;
    height: 0.8rem;
    padding: 0 15px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(../img/arrow.png) no-repeat scroll right center transparent;
    background-position: calc(100% - 8px) center;
    background-size: 20px 50%;
    background-color: #ccc;
    padding-right: 14px;
}
.select>option{
			background-color: #fff;
			background-position: ;
		} 
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
.select::-ms-expand { display: none; }
/*E select自定义箭头*/

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.forget-pass-cell {
	width: 80%;
    justify-content: space-between;
    font: 13px/1 "微软雅黑";
    margin-top: 0.3rem;
    padding: 0 5px;
    justify-content: space-between;
}
.forget-pass-cell > a {
    color: rgb(63,81,181);
}

/*S change-ul*/
.change-ul{
	width: 100%;
}
.change-ul > li{
	width: 90%;
	padding:0.2rem 5%;
	border-bottom: 1px solid #ccc;
	font: 14px/1 "微软雅黑";
}
.change-ul-time-span{
	color: #999;
}
.change-ul-p1{
	font: 15px/1 "微软雅黑";
}
.change-ul-p2{
	display: flex;
	justify-content: space-between;
	margin-top:12px;
}
.change-ul-span2 > a{
	display: inline-block;
	margin-left: 0.2rem;
}

.change-ul-icon{
	height: 16px;
	vertical-align: middle;
}	
.change-ul-left-a{
	margin-right: 1px;
}
.change-ul-span2 .change-ul-left-a1{
	margin-left: 0;
}
/*E change-ul*/
/*S button*/
.button{
	width: 100px;
	padding: 0 10px;
	height: 35px;
	color: #fff;
	border-radius: 4px;
	background-color: rgb(63,81,181);
	border-style: none;
	font: 14px/1 "微软雅黑";
}
/*E button*/
/*S 更多*/
.blue-square{
	width: 3px;
	height: 15px;
	display: inline-block;
	background-color: rgb(63,81,181);
	vertical-align: middle;
	margin-top: -2px;
}
.member-ul{
	width: 100%;
	border-top: 8px solid #E5E5E5;
	margin-top: 3px;
}
.member-ul > li{
	width: 90%;
	padding:3% 5%;
	border-top: 1px solid #E5E5E5;
}
.member-li1{
	display: flex;
	-webkit-justify-content: space-between;
	font: 17px/1 "微软雅黑";
	align-items: center;
}
.member-li1 > p:nth-child(1){
	margin-top: -2px;
}
.more-a1{
	color: #666;
}
.li-last{
	text-align: center;
}
.li-last-a{
	color: rgb(63,81,181);
	font-size: 20px;
}
.member-ul > li >p{
	margin-top: 8px;
	font: 16px/1 "微软雅黑";
	/*width: 100%;*/
}
.member-more-p{
	width:90%;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.member-ul > li >p:last-child{
	color: #999;
}
.li1-num-span{
	color: rgb(34,24,21);
	font-weight: 600;
}
.member-ul > li:last-child{
	border-top: none;
}
/*E 更多*/
/*S 通知*/
.member-ul {
    width: 100%;
    border-top: 8px solid #E5E5E5;
    margin-top: 3px;
}
.member-ul > li {
    width: 90%;
    padding: 3% 5%;
    border-top: 1px solid #E5E5E5;
}
.message-center-ul > li{
	display: flex;
	justify-content: space-between;
}

.member-ul > li >p {
    margin-top: 8px;
    font: 16px/1 "微软雅黑";
}
.message-center-ul > li >p:nth-child(1){
	width: 68%;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.message-center-ul > li >p:last-child{
	width: auto;
}
.member-ul > li >p:last-child {
    color: #999;
}
.li-last-a{
	color: rgb(63,81,181);
	font-size: 20px;
}
.message-center-last-li > a{
	margin: 0 auto;
}
/*E 通知*/
/*S 昵称头像更改*/
.nickname-cell{
	width: 84%;
	display: flex;
	justify-content: flex-start;
	padding-top: 0.5rem;
	margin:  0 auto;
}
.nickname-cell-left{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	margin-top: -30px;
}
.head-portrait{
	width: 50px;
	height: 50px;
}
.nickname-cell-right{
	margin-left: 40px;
	font: 16px/1 "微软雅黑";
}
.grade{
	border-radius: 4px;
	padding: 1px 5px;
	background-color: rgb(255,156,0);
	color: #fff;
	font: 8px/1 "微软雅黑";
}
.cell-right-p2{
	font: 13px/1 "微软雅黑";
	color: #666;
}
.cell-right-p{
	margin-bottom: 13px;
}
.ask,.answer{
	padding: 1px 3px;
	background-color: rgb(255,156,0);
	color: #fff;
	font: 13px/1 "微软雅黑";
}
.answer{
	background-color: rgb(238,44,66);
}
.member-ctr-div{
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	text-align: center;
	font: 15px/1 "微软雅黑";
	border-top: 1px solid #ccc;
	padding-top: 15px;
	padding-bottom: 10px;
}
.member-ctr-div > a > p:nth-child(2){
	margin-top: 6px;
}
/*E 昵称头像更改*/